.nav{
    background-color: #D80032;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;

}
.nav-ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
.nav-h1{
    font-size: 30px;
}
.nav-sub{
    font-size: 10px;
}
.nav-li{
    padding: 10px 20px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 10px;
    margin-left: 20px;
    cursor: pointer;
}
.nav-logged{
    padding: 10px 20px;
    border: 1px double #fff;
    color: #D80032;
    border-radius: 10px;
    margin-left: 20px;
    cursor: pointer;
    background-color: #fff;
}
.nav-li:hover{
    background-color: #fff;
    color: #D80032;
}