.signup-main{
    width: 100%;
    height: 88vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-h1{
    color: #D80032;
}
.signup-form{
    display: flex;
    flex-direction: column;
}
.signup-input{
    border: none;
    border-bottom: 1px solid #D80032;
    padding: 10px 20px;
    font-size: 20px;
    outline: none;
    margin-top: 20px;
    background-color: #feedf1;
}

.signup-submit-btn{
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #D80032;
    color: #fff;
    margin-top: 20px;
    border-radius: 10px;
}
